NEXT_PUBLIC_SUPABASE_URL=https://zyxfgssfsfpgcttccyoc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5eGZnc3Nmc2ZwZ2N0dGNjeW9jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0NDM5MjgsImV4cCI6MjA5OTAxOTkyOH0.7A0ZUIQrJ_nzdMYczH4evxrDtG4pSnbkcmK6CtRqY80
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/thebmwrealtor.noida/
